<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" value="{{this.id}}" placeholder="ID" name="id">
        <label for="floatingInput">Id</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.nome}}" placeholder="Nome" name="nome">
        <label for="floatingPassword">Nome</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.unidade}}" placeholder="unidade" name="unidade">
        <label for="floatingPassword">Unidade</label>
    </div>
</div>
<div class="col-6">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.preco}}" placeholder="preco" name="preco">
        <label for="floatingPassword">Preço</label>
    </div>
</div>
<div class="col-12">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingPassword" value="{{this.categoria}}" placeholder="categoria" name="categoria">
        <label for="floatingPassword">Categoria</label>
    </div>
</div>


<div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Enviar</button>
</div>